---
---

<div class="relative p-0 md:p-6 max-w-2xl flex-2">
  <img src="/pie.svg" alt="pie chart" />
  <!-- Patient Engagement  -->
  <button
    data-popover-target="patient-engagement"
    class="absolute text-primary-2 text-center top-[23%] left-[40%] text-sm md:text-xl lg:text-2xl w-12 md:w-24 lg:w-32 font-semibold"
    > Patient Engagement </button
  >
  <div
    data-popover
    id="patient-engagement"
    role="tooltip"
    class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800"
  >
    <div
      class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700"
    >
      <h3 class="font-semibold text-gray-900 dark:text-white text-xl">
        Patient experience and user journey
      </h3>
    </div>
    <div class="px-3 py-2">
      <p>
        We specialize in improving patient satisfaction and experience, and developing impactful community outreach programs. 
      </p>
    </div>
    <div data-popper-arrow></div>
  </div>
  <!-- Due Diligence -->
  <button
    data-popover-target="due-diligence"
    class="absolute text-primary-2 text-center top-[45%] right-[20%] text-sm md:text-xl lg:text-2xl w-12 md:w-24 lg:w-32 font-semibold"
    >Due Diligence</button
  >
  <div
    data-popover
    id="due-diligence"
    role="tooltip"
    class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800"
  >
    <div
      class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700"
    >
      <h3 class="font-semibold text-gray-900 dark:text-white text-xl">
        Strategic Financial and Operational Planning
      </h3>
    </div>
    <div class="px-3 py-2">
      <p>We offer comprehensive financial planning and analysis, assist with capital raising and investment strategy, and ensure product-market fit. Additionally, we develop detailed operational plans, including pitch decks and exit strategies. </p>
    </div>
    <div data-popper-arrow></div>
  </div>
  <!-- Quality Improvement  -->
  <button
    data-popover-target="quality-improvements"
    class="absolute text-cyan-100 text-center bottom-[23%] left-[40%] text-sm md:text-xl lg:text-2xl w-12 md:w-24 lg:w-32 font-semibold"
    >Quality Improvement </button
  >
  <div
    data-popover
    id="quality-improvements"
    role="tooltip"
    class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800"
  >
    <div
      class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700"
    >
      <h3 class="font-semibold text-gray-900 dark:text-white text-xl">
        Enhancing Clinical Excellence
      </h3>
    </div>
    <div class="px-3 py-2">
      <p>
We specialize in developing clinical pathways, implementing quality measurement and reporting systems, and driving patient safety initiatives to improve overall healthcare outcomes.   
      </p>
    </div>
    <div data-popper-arrow></div>
  </div>
  <!-- Regulatory Compliance -->
  <button
    data-popover-target="regulatory-compliance"
    class="absolute text-secondary-blue-light text-center top-[45%] left-[20%] text-sm md:text-xl lg:text-2xl w-12 md:w-24 lg:w-32 font-semibold"
    >Regulatory Compliance</button
  >
  <div
    data-popover
    id="regulatory-compliance"
    role="tooltip"
    class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800"
  >
    <div
      class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700"
    >
      <h3 class="font-semibold text-gray-900 dark:text-white text-xl">
      Health Canada Approvals
      </h3>
    </div>
    <div class="px-3 py-2">
      <p>
        We offer expertise in HIPAA compliance, Health Canada submission preparation, and provide guidance in developing policies and procedures.
      </p>
    </div>
    <div data-popper-arrow></div>
  </div>
  <!-- Business Development -->
  <button
    data-popover-target="business-development"
    class="absolute text-primary-1 text-center bottom-[5%] left-[18%] md:bottom-[8%] md:left-[28%] text-sm md:text-base font-semibold h-12 min-w-24"
    ><span class="opacity-0">________________________________</span>
  </button>
  <div
    data-popover
    id="business-development"
    role="tooltip"
    class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800"
  >
    <div
      class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700"
    >
      <h3 class="font-semibold text-gray-900 dark:text-white text-xl">
      Strategic Planning
      </h3>
    </div>
    <div class="px-3 py-2">
      <p>
        We conduct thorough market analysis and feasibility studies, create detailed business plans, and drive service line development and expansion. Additionally, we focus on operational improvements through process optimization, workflow redesign, and cost reduction strategies. 
      </p>
    </div>
    <div data-popper-arrow></div>
</div>
