---
---

<div class="relative p-0 md:p-6 max-w-2xl flex-2">
  <img src="/pie_new.svg" alt="pie chart" />
  <!-- Patient Experience -->
  <!-- <button
    data-popover-target="patient-experience"
    class="absolute text-primary-2 text-center top-[23%] left-[40%] text-sm md:text-xl lg:text-2xl w-12 md:w-24 lg:w-32 font-semibold"
    >XXX</button
  >
  <div
    data-popover
    id="patient-experience"
    role="tooltip"
    class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800"
  >
    <div
      class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700"
    >
      <h3 class="font-semibold text-gray-900 dark:text-white text-xl">
        Patient and health need validation
      </h3>
    </div>
    <div class="px-3 py-2">
      <p>
        Assessing whether a product / service fulfills a true patient health
        need
      </p>
    </div>
    <div data-popper-arrow></div>
  </div> -->
</div>
