---
import Pie from "./Pie.astro";
---

<div
  class="mx-14 md:mx-20 mb-24 flex flex-col lg:flex-row-reverse lg:items-center lg:justify-center gap-4 lg:gap-12"
>
  <div class="flex-1 max-w-lg">
    <h2
      class="uppercase font-semibold text-primary-1 text-3xl md:text-4xl mb-6"
    >
      Our Services
    </h2>
    <p class="mb-12">
      We provide comprehensive and strategic recommendations informed by the Quintuple Aim framework, which are the key ingredients to delivering exceptional health care
    </p>
  </div>

  <Pie />
</div>
