---
const year = new Date().getFullYear();
import logo from "/InnovateLogoWhite.png";
import medtech_logo from "/Medtech-logo.png";
import h2i_logo from "/H2i-logo.png";
import ContactInfo from "@/components/ContactInfo.astro";
---

<footer class="w-full">
  <div class="bg-white py-8">
    <div class="max-w-screen-xl mx-auto px-4">
      <h2 class="font-bold text-xl mb-4">Proudly partnered with:</h2>
      <div class="flex justify-center items-center gap-8">
        <a
          href="https://medtechcanada.org/"
          target="_blank"
          class="flex items-center"
        >
          <img class="w-44" src={medtech_logo} alt="Medtech Canada logo" />
        </a>
        <a
          href="https://h2i.utoronto.ca/"
          target="_blank"
          class="flex items-center"
        >
          <img class="w-44" src={h2i_logo} alt="Health Innovation Hub logo" />
        </a>
      </div>
    </div>
  </div>
  <div class="bg-navy-blue text-white py-8">
    <div class="max-w-screen-xl mx-auto px-4 flex justify-between items-center">
      <div class="flex items-center">
        <img src={logo} alt="Innovo Labs Consulting logo" class="w-28 mr-4" />
        <span class="text-xl font-bold">Innovo Labs Consulting</span>
      </div>
      <div class="text-right">
        <ContactInfo />
        <p class="text-gray-500">&copy; {year} All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>

<style>
  .bg-navy-blue {
    background-color: #1a2b4a;
  }
</style>
