---

---
<div class="flex flex-col md:flex-row w-full h-full mb-24 py-32">
    <div class="px-0 md:px-6 lg:px-12 py-20 bg-secondary-blue-pale flex-1">
        <h3 class="mb-6 text-white font-semibold text-lg md:text-2xl lg:text-3xl drop-shadow-lg">Our Mission </h3>
        <p class="text-white drop-shadow-md">
          INNOVO's mission is to bring a patient-centered approach and translational mindset to healthcare consulting and reduce the barriers to healthcare innovation for our clients. To achieve this goal, we provide healthcare-specific business development, due diligence, quality improvement, regulatory compliance, and patient engagement strategies for all our clients. Our approach starts by listening to and understanding our clients' needs. Through our client-first approach, INNOVO will drive forward the growth of cutting-edge innovations in the healthcare space. 
        </p>
    </div>
    <div class="px-0 md:px-6 lg:px-12 py-20 bg-gray-50 flex-1">
        <h3 class="mb-6 font-semibold text-lg md:text-2xl lg:text-3xl drop-shadow-sm">Our Vision </h3>
        <p>
           INNOVO aspires to close the gap between ‘bench to bedside’ and facilitate the translation of healthcare innovations to improve outcomes for patients. Our analysis and recommendations will empower our clients to drive their innovation to the next level. 
        </p>
    </div>
</div>
