---
---

<div class="mx-14 md:mx-20 mb-24">
  <h2 class="uppercase font-semibold text-primary-1 text-3xl md:text-4xl mb-6">
    why this matters
  </h2>
  <p>
    Growing, supporting, and improving healthcare innovation in Canada is a complex and challenging endeavor. Many obstacles exist such as navigating the intricacies of the existing healthcare system, raising capital, and developing partnerships. Success requires not only a deep understanding of the healthcare sector but also a strategic approach to integrating new technologies into a complex ecosystem. With INNOVO's expertise, services, and support, challenges can be transformed into opportunities for growth and success. 
  </p>
</div>
